.property-cards {
  display: grid;
  margin: 32px;
}

.property-cards__with-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: fit-content(10px);
  grid-gap: 26px;
}

.property-cards__no-results {
  display: grid;
  justify-self: center;
  align-self: center;
  min-width: 820px;
}
