.react-responsive-modal-modal {
  border-radius: 20px;
}

.property-details-modal {
  /*width: 500px;*/
  /*height: 100vh;*/
}

.property-details-modal__image_item {
  border-radius: 10px;
  background-color: mediumaquamarine;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  min-width: 800px;
  pointer-events: none;
}

.property-details-modal__brand {
  font-weight: bold;
  font-size: 3em;
}

.property-details-modal__stats {
  font-size: 1.4em;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  padding: 8px;
  text-align: center;
}

.property-details-modal__stats:last-of-type{
  border-right: 0 solid transparent !important;
}

.property-details-modal__stat__item {
  border-right: 1px solid mediumaquamarine;
}

.property-details-modal__address {
  font-size: 1.6em;
  padding: 8px;
}

.property-details-modal__price {
  font-size: 3em;
  font-weight: bold;
  color: mediumaquamarine;
  padding: 8px;
}
