.card {
  display: grid;
  grid-template-rows: repeat(5, fit-content(10px));
  border: 2px solid transparent;
  border-radius: 12px;
  text-align: left;
  padding: 6px;
  box-shadow: 0 0 6px 0 #565656;
  max-width: 240px;
  max-height: 305px;
  min-height: 288px;
}

.card:hover {
  border: 2px dashed mediumaquamarine;
  cursor: pointer;
}

.card__image_item {
  border-radius: 10px;
  background-color: mediumaquamarine;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 152px;
  pointer-events: none;
}

.card__address {
  margin: 14px 0 2px 0;
  font-weight: bold;
  font-size: 1.1em;
}

.card__city-state {
  color: #777777;
  font-size: 1em;
  margin: 2px 0;
}

.card__price {
  font-weight: bold;
  font-size: 1.3em;
  color: mediumaquamarine;
  margin: 12px 0;
}

.card__stat {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  border-top: 1px solid mediumaquamarine;
  padding: 4px;
  text-align: center;
  font-size: 0.8em;
}
