.search-bar__input {
  min-width: 500px;
  border-radius: 12px;
  outline: none;
  border: 2px solid mediumaquamarine;
  justify-self: center;
  font-size: 1.3em;
  padding: 12px;
}

.search-bar__input:focus {
  border: 2px solid #c1c1c1;
}

.search-bar__input:hover {
  border: 2px dashed mediumaquamarine;
}
