.navigation-bar {
  border: 2px dashed transparent;
  display: flex;
  align-items: center;
  margin: 18px;
  padding: 16px;
}

.navigation-bar:hover {
  border: 2px dashed mediumaquamarine;
  border-radius: 20px;
}

.navigation-bar__menu {
  font-size: 1.8em;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.navigation-bar__menu:hover {
  background-color: mediumaquamarine;
}

.navigation-bar__branding {
  position: relative;
  left: 40%;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

.navigation-bar__account {
  margin-left: auto;
}

.navigation-bar__account__item {
  margin: 0 2px;
}

.navigation-bar__button {
  border-radius: 8px;
  color: mediumaquamarine;
  font-weight: bold;
  padding: 14px 18px;
  cursor: pointer;
}

.navigation-bar__button:hover {
  background: mediumaquamarine;
  color: #fff;
}
